<!DOCTYPE html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="content-type">
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <script>
    (function() {
        var html = document.documentElement;
        var hWidth = html.getBoundingClientRect().width;
        html.style.fontSize = hWidth / 15 + "px";
    })()
    </script>
</head>

<body class="login-bg">
    <h2>雪托邦商城</h2>
    <ul class="login-list" id="app">
        <li class="clearfix">
            <label>手机号</label>
            <input type="text" name="phone" v-model="tel">
        </li>
        <li class="clearfix">
            <label>验证码</label>
            <input type="text" name="idCode" v-model="code">
            <a href="javascript:void(0);" class="login-hqword" :disabled="disabled" @click="sendCode">{{getIdCode}}</a>
        </li>
        <li class="clearfix">
            <button type="primary" class="login-btn" @click="login()">登录</button>
        </li>
        <li>
            <a href="index.html">进入首页</a>
        </li>
    </ul>

    <script src="js/vue.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
    var vm = new Vue({
        el: "#app",
        data: {
            code: '',
            tel: '',
            getIdCode: '获取验证码',
            disabled: false,
            time: 0
        },
        methods: {
            login: function() {

            },
            sendCode: function() {
                var reg = 11 && /^((13|14|15|17|18)[0-9]{1}\d{8})$/;
                if (this.tel == '') {
                    alert("手机号不能为空");
                } else if (!reg.test(this.tel)) {
                    alert("手机号格式不正确");
                } else {
                    this.time = 30;
                    this.disabled = true;
                    this.timer();
                }
                axios.post('${path}/mall/payUser/getIdentifyingCode.do', {
                    tel:this.tel,
                    code:this.code
                }).then(function(res) {
                    if (res.data.code == 200) {
                        console.log(res.data.data);
                    } else if (res.data.code == 400) {
                        alert(res.data.message)
                    }
                }.bind(this))

            },
            timer: function() {
                if (this.time > 0) {
                    this.time--;
                    this.getIdCode = this.time + 's后重新获取';
                    setTimeout(this.timer, 1000);
                } else {
                    this.disabled = false;
                    this.time = 0;
                    this.getIdCode = '获取验证码'
                }
            }
        },
        computed: {

        }
    });
    </script>
</body>

</html>
<script>
</script>